.home-container{
  background-color: black;
  position: relative;
  height: 70.4vh;
}
.home-image{
  background-image: linear-gradient(to right, rgba(0, 0, 0, 10), rgba(0, 0, 0, 0)), url("../src//background/oldman.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: scroll;
  height: 100%;
  width: 100%;
}
.title{
  display: flex;
  justify-content: left;
  padding: 15rem 0 0 1rem;
}
.title-two{
  display: flex;
  flex-direction: column;
  justify-content: left;
  color: white;
  text-align: center;
  line-height: 2rem;
}
.title-two p{
  width: 35rem;
  font-size: 1rem;
}

.started{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
.started-container{
  background-color: green;
  width: 8rem;
  border-radius: 10px; 
  transition: background-color 1s, color 1s;
}
.started-container span{
  margin: 0 0 0 0.6rem;
}
.started-container:hover{
  background-color: darkgreen;
  color: white;
}

.home-image-bottom{
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: white;
  width: 10rem;
  height: 4.5vh;
  border-radius: 30rem 2rem 0;
  text-align: center;
  padding: 0.5rem 0 0 0;
  font-size: 0.9rem;
}

.second-home-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2.5rem 5rem 0 0.8rem;
  gap: 2rem;
  align-items: center;
}
.join{
  width: 25rem;
  height: 40vh;
  border-radius: 5px;
  text-align: center;
  padding: 8rem 0 0 0;
}
.join h1{
  font-size: 1.5rem;
  color: darkgreen;
  margin: 0 0 0.5rem 0;
  text-decoration: underline;
  width: 25rem;
}
.join p{
  font-size: 1.3rem;
  color: gray;
  line-height: 2.5rem;
  width: 25rem;

}
.sub-section img{
  width: 10rem; 
  max-height: 18rem;
  border-radius: 50%;
  height: 10rem;
  container: center;
}
.second-section{
  display: grid;
  grid-template-columns: repeat(2, 10rem);
  column-gap: 7rem;
  row-gap: 3rem;
  padding: 2rem 1rem 0 0;
}
.sub-section{
 background-color: lightgoldenrodyellow;
  width: 15rem;
  text-align: center;
  height: 25vh;
  padding: 2rem 0 0 0;
  border-radius: 10px;
}
.info{
  margin-top: 1rem;
  line-height: 1.7rem;
}

